{% if trickster_tracing is defined and
      trickster_tracing | count > 0 %}

tracing:
{% set b = trickster_tracing %}
  {{ b | to_nice_yaml( indent=2, width=50, explicit_start=False, explicit_end=False) | indent(2, True) }}
{% endif %}
{#
# tracing:
#     # This is the default tracing config with its default options, which you can change here.
#     # you can also add additional tracing configs here. user-defined tracing configs are mapped
#     # to backends by the tracing_name value in backend configs, which, by default, use default
#   default:

#     # provider specifies the type of backend tracing system where traces are sent (in that format)
#     # options are: jaeger, zipkin, stdout or none.  none is the default
#     provider: none

#     # service_name specifies the service name under which the traces are registered by this tracer
#     # default is trickster
#     service_name: trickster

#     # collector_url is the URL of the tracing backend
#     # required for zipkin and jaeger, unused for stdout
#     collector_url: http://jaeger:14268/api/traces

#     # collector_user is the username credential for authenticating with the tracing backend
#     # optional jaeger; unused for zipkin and stdout
#     collector_user: ''

#     # collector_pass is the username credential for authenticating with the tracing backend
#     # optional jaeger; unused for zipkin and stdout
#     collector_pass: ''

#     # sample_rate sets the probability that a span will be recorded.
#     # A floating point value of 0.0 to 1.0 (inclusive) is permitted
#     # default is 1.0 (meaning 100% of requests are recorded)
#     sample_rate: 1.0

#     # omit_tags is a list of tag names that, while normally added by Trickster to various spans,
#     # are omitted for spans produced by this tracer. The default setting is empty list.
#     omit_tags: []

#       # tags will append these tags/attributes to each trace that is recorded
#       # only string key/value tags are supported. numeric values, etc are not.
#       # For Jaeger, these key/values are added to the "Process" section
#       # default tags list is empty
#     tags:
#       key1: "value1"
#       key2: "value2"

#       # configurations for this tracer, specific to jaeger
#     jaeger:
#       # endpoint_type indicates whether the jaeger tracing backend is a collector or agent
#       # default is collector
#       endpoint_type: collector

#       # configurations for this tracer, specific to stdout
#     stdout:
#       # pretty_print indicates whether the output to stdout is formatted better human readability
#       # default is false
#       pretty_print: false

#     # another example tracing config named example using jaeger agent backend and a 50% sample rate
#   example:
#     provider: jaeger
#     collector_url: jaeger:6831
#     sample_rate: 0.5
#     jaeger:
#       endpoint_type: agent

#     # another example tracing config named zipkin-example using zipkin backend and a 10% sample rate
#   zipkin-example:
#     provider: zipkin
#     collector_url: https://zipkin.example.com:9411/api/v2/spans
#     sample_rate: 0.1
#}
