#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

[Unit]
Description       = Prometheus blackbox Exporter
After             = network-online.target

[Service]
Type              = simple
EnvironmentFile   = {{ blackbox_exporter_defaults_directory }}/blackbox_exporter

User              = {{ blackbox_exporter_system_user }}
Group             = {{ blackbox_exporter_system_group }}

ExecReload        = /bin/kill -HUP $MAINPID
ExecStartPre      = /usr/bin/{{ blackbox_exporter_release.binary }} --config.file {{ blackbox_exporter_service.config.file }} --config.check
ExecStart         = /usr/bin/{{ blackbox_exporter_release.binary }} $OPTIONS

SyslogIdentifier  = blackbox_exporter
Restart           = always

[Install]
WantedBy          = multi-user.target
