{%- set _alertmanagers = false %}
{%- set _alert_relabel_configs = false %}
{% if prometheus_alerting.alertmanagers is defined and
      prometheus_alerting.alertmanagers | bodsch.core.type == "list" and
      prometheus_alerting.alertmanagers | count > 0 %}
  {%- set _alertmanagers = true %}
{% endif %}
{% if prometheus_alerting.alert_relabel_configs is defined and
      prometheus_alerting.alert_relabel_configs | bodsch.core.type == "dict" and
      prometheus_alerting.alert_relabel_configs | bodsch.prometheus.remove_empty_elements | count > 0 %}
  {%- set _alert_relabel_configs = true %}
{% endif %}
{% if _alertmanagers or _alert_relabel_configs %}

alerting:
  {% if _alertmanagers %}
  alertmanagers:
    {#
    #}
    {% for mng in prometheus_alerting.alertmanagers %}
    - scheme: {{ mng.scheme | default('http') }}
      {% if mng.follow_redirects is defined and
            mng.follow_redirects | string | length > 0 %}
      follow_redirects: {{ mng.follow_redirects | bool | bodsch.core.config_bool(true_as='true', false_as='false') }}
      {% endif %}
      {% if mng.enable_http2 is defined and
            mng.enable_http2 | string | length > 0 %}
      enable_http2: {{ mng.enable_http2 | bool | bodsch.core.config_bool(true_as='true', false_as='false') }}
      {% endif %}
      {% if mng.timeout is defined and
            mng.timeout | string | length > 0 %}
      timeout: {{ mng.timeout }}
      {% endif %}
      {% if mng.api_version is defined and
            mng.api_version | string | length > 0 %}
      api_version: {{ mng.api_version }}
      {% endif %}
      {% if mng.path_prefix is defined and
            mng.path_prefix | string | length > 0 %}
      path_prefix: {{ mng.path_prefix }}
      {% endif %}
      {% if mng.basic_auth is defined and
            mng.basic_auth | string | length > 0 %}
      basic_auth:
        {{ mng.basic_auth | to_nice_yaml(indent=8,sort_keys=False) | indent(2, False) }}
      {% endif %}
      {% if mng.authorization is defined and
            mng.authorization | string | length > 0 %}
      authorization:
        {{ mng.authorization | to_nice_yaml(indent=8,sort_keys=False) | indent(2, False) }}
      {% endif %}
      {% if mng.oauth2 is defined and
            mng.oauth2 | string | length > 0 %}
      oauth2:
        {{ mng.oauth2 | to_nice_yaml(indent=8,sort_keys=False) | indent(2, False) }}
      {% endif %}
      {% if mng.tls_config is defined and
            mng.tls_config | string | length > 0 %}
      tls_config:
        {{ mng.tls_config | to_nice_yaml(indent=8,sort_keys=False) | indent(2, False) }}
      {% endif %}
      {% if mng.relabel_configs is defined and
            mng.relabel_configs | string | length > 0 %}
      relabel_configs:
        {{ mng.relabel_configs | to_nice_yaml(indent=8,sort_keys=False) | indent(2, False) }}
      {% endif %}
      {% if mng.static_configs is defined and
            mng.static_configs | bodsch.core.type == "list" and
            mng.static_configs | count > 0 %}
      static_configs:
        {% for static in mng.static_configs %}
          {% if static.targets is defined and
                static.targets | bodsch.core.type == "list" and
                static.targets | count > 0 %}
      - targets:
            {% for target in static.targets %}
        - {{ target }}
            {% endfor %}
          {% endif %}
          {% if static.labels is defined and
                static.labels | bodsch.core.type == "dict" and
                static.labels | count > 0 %}
        labels:
          {{ static.labels | to_nice_yaml(indent=10,sort_keys=False) | indent(4, False) }}
          {% endif %}
        {% endfor %}
      {% endif %}
      {# service discoveries #}
      {% if mng.file_sd_configs is defined and
            mng.file_sd_configs | string | length > 0 %}
      file_sd_configs:
        {{ mng.file_sd_configs | to_nice_yaml(indent=8,sort_keys=False) | indent(2, False) }}
      {% endif %}
      {% if mng.http_sd_configs is defined and
            mng.http_sd_configs | string | length > 0 %}
      http_sd_configs:
        {{ mng.http_sd_configs | to_nice_yaml(indent=8,sort_keys=False) | indent(2, False) }}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if _alert_relabel_configs %}
  alert_relabel_configs:
    {% if prometheus_alerting.alert_relabel_configs.source_labels is defined and
          prometheus_alerting.alert_relabel_configs.source_labels | bodsch.core.type == "list" and
          prometheus_alerting.alert_relabel_configs.source_labels | count > 0 %}
    # The source labels select values from existing labels. Their content is concatenated
    # using the configured separator and matched against the configured regular expression
    # for the replace, keep, and drop actions.
    source_labels: {{ prometheus_alerting.alert_relabel_configs.source_labels | join(', ') }}
    {% endif %}
    {% if prometheus_alerting.alert_relabel_configs.separator is defined and
          prometheus_alerting.alert_relabel_configs.separator | string | length > 0 %}
    # Separator placed between concatenated source label values.
    separator: {{ prometheus_alerting.alert_relabel_configs.separator | default(';') }}
    {% endif %}
    {% if prometheus_alerting.alert_relabel_configs.target_label is defined and
          prometheus_alerting.alert_relabel_configs.target_label | string | length > 0 %}
    # Label to which the resulting value is written in a replace action.
    # It is mandatory for replace actions. Regex capture groups are available.
    target_label: {{ prometheus_alerting.alert_relabel_configs.target_label }}
    {% endif %}
    {% if prometheus_alerting.alert_relabel_configs.regex is defined and
          prometheus_alerting.alert_relabel_configs.regex | string | length > 0 %}
    # Regular expression against which the extracted value is matched.
    # <regex> | default = (.*) ]
    regex: {{ prometheus_alerting.alert_relabel_configs.regex }}
    {% endif %}
    {% if prometheus_alerting.alert_relabel_configs.modulus is defined and
          prometheus_alerting.alert_relabel_configs.modulus | string | length > 0 %}
    # Modulus to take of the hash of the source label values.
    modulus: {{ prometheus_alerting.alert_relabel_configs.modulus | int }}
    {% endif %}
    {% if prometheus_alerting.alert_relabel_configs.replacement is defined and
          prometheus_alerting.alert_relabel_configs.replacement | string | length > 0 %}
    # Replacement value against which a regex replace is performed if the
    # regular expression matches. Regex capture groups are available.
    # [ replacement: <string> | default = $1 ]
    replacement: {{ prometheus_alerting.alert_relabel_configs.replacement | default('$1') }}
    {% endif %}
    {% if prometheus_alerting.alert_relabel_configs.action is defined and
          prometheus_alerting.alert_relabel_configs.action | string | length > 0 %}
    # Action to perform based on regex matching.
    # action: <relabel_action> | default = replace ]
    action: {{ prometheus_alerting.alert_relabel_configs.action }}
    {% endif %}
  {% endif %}

{% endif %}
