#jinja2: trim_blocks: True, lstrip_blocks: True
; {{ ansible_managed }}
{% macro credentials(data) %}
{% if data | bodsch.core.type == "dict" %}
  {% if data.hostname is defined and
        data.hostname | string | length > 0 %}
host      = {{ data.hostname }}
    {% if data.port is defined and
          data.port | string | length > 0 %}
port      = {{ data.port }}
    {% endif %}
    {% if data.socket is defined %}
      {% set _ = data.pop("socket") %}
    {% endif %}
  {% endif %}
  {% if data.socket is defined and
        data.socket | string | length > 0 %}
socket    = {{ data.socket }}
  {% endif %}
  {% if data.username is defined and
        data.username | string | length > 0 %}
user      = {{ data.username }}
  {% endif %}
  {% if data.password is defined and
        data.password | string | length > 0 %}
password  = {{ data.password }}
  {% endif %}
{% endif %}
{% endmacro %}

{% for key, value in mongodb_exporter_credentials.items() %}
  {% if value | bodsch.core.type == 'dict' %}
    {% if value | bodsch.prometheus.valid_credentials %}
    {% if key == 'client' %}
[{{ key }}]
{{ credentials(value) }}
    {% else %}
[client.{{ key }}]
    {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
