{{ ansible_managed | comment }}

[Unit]
Description       = Prometheus exporter for hardware and OS metrics exposed by *NIX kernels with pluggable metric collectors.
After             = network-online.target

[Service]
Type              = simple
Environment       = "GOMAXPROCS={{ ansible_processor_vcpus | default(ansible_processor_count) }}"
EnvironmentFile   = {{ node_exporter_defaults_directory }}/node_exporter

User              = {{ node_exporter_system_user }}
Group             = {{ node_exporter_system_group }}

ExecReload        = /bin/kill -HUP $MAINPID
ExecStart         = /usr/bin/{{ node_exporter_release.binary }} $OPTIONS

LimitNOFILE       = 65000
SyslogIdentifier  = node_exporter
Restart           = always

[Install]
WantedBy          = multi-user.target
