#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

[Unit]
Description       = Prometheus exporter for Redis metrics.
After             = network-online.target

[Service]
Type              = simple
EnvironmentFile   = {{ redis_exporter_defaults_directory }}/redis_exporter

User              = {{ redis_exporter_system_user }}
Group             = {{ redis_exporter_system_group }}

ExecReload        = /bin/kill -HUP $MAINPID
ExecStart         = /usr/bin/{{ redis_exporter_release.binary }} $OPTIONS

SyslogIdentifier  = redis_exporter
Restart           = always

[Install]
WantedBy          = multi-user.target
