#jinja2: trim_blocks: True, lstrip_blocks: True
---
# {{ ansible_managed }}

{% include 'trickster.d/main.j2' %}
{% include 'trickster.d/frontends.j2' %}
{% include 'trickster.d/caches.j2' %}
{% include 'trickster.d/negative_caches.j2' %}
{% include 'trickster.d/backends.j2' %}
{% include 'trickster.d/rules.j2' %}
{% include 'trickster.d/request_rewriters.j2' %}
{% include 'trickster.d/tracing.j2' %}
{% include 'trickster.d/metrics.j2' %}
{% include 'trickster.d/reloading.j2' %}
{% include 'trickster.d/logging.j2' %}
