#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

[Unit]
Description      = prometheus, is a systems and service monitoring system.
After            = network-online.target

[Service]
Type             = simple
Environment      = "GOMAXPROCS={{ ansible_processor_vcpus | default(ansible_processor_count) }}"
EnvironmentFile  = {{ prometheus_defaults_directory }}/prometheus

User             = {{ prometheus_system_user }}
Group            = {{ prometheus_system_group }}

ExecStartPre     = /usr/bin/promtool check config {{ prometheus_config_dir }}/prometheus.yml

ExecReload       = /bin/kill -HUP $MAINPID
ExecStart        = /usr/bin/prometheus $OPTIONS

LimitNOFILE      = 65000
SyslogIdentifier = prometheus
Restart          = always

[Install]
WantedBy         = multi-user.target
