#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

OPTIONS="
{% if blackbox_exporter_service is defined %}
  {# log configuration #}
  {% if blackbox_exporter_service.log.level in ["debug", "info", "warn", "error"] %}
    {% set _loglevel = blackbox_exporter_service.log.level %}
  {% endif %}
  --log.level {{ _loglevel }} \
  {% if blackbox_exporter_service.log.format is defined and
        blackbox_exporter_service.log.format in ["logfmt", "json"] %}
  --log.format {{ blackbox_exporter_service.log.format }} \
  {% endif %}
  {# web configuration #}
  {% if blackbox_exporter_service.web.listen_address is defined and
        blackbox_exporter_service.web.listen_address | string | length > 0 %}
  --web.listen-address {{ blackbox_exporter_service.web.listen_address }} \
  {% endif %}
  {% if blackbox_exporter_service.web.external_url is defined and
        blackbox_exporter_service.web.external_url | string | length > 0 %}
  --web.external-url {{ blackbox_exporter_service.web.external_url }} \
  {% endif %}
  {% if blackbox_exporter_service.web.route_prefix is defined and
        blackbox_exporter_service.web.route_prefix | string | length > 0 %}
  --web.route-prefix {{ blackbox_exporter_service.web.route_prefix }} \
  {% endif %}
  {% if blackbox_exporter_service.web.systemd_socket is defined and
        blackbox_exporter_service.web.systemd_socket | string | length > 0 %}
    {% if blackbox_exporter_service.web.systemd_socket %}
  --web.systemd-socket \
    {% else %}
  --noweb.systemd-socket \
    {% endif %}
  {% endif %}
  {# history #}
  {% if blackbox_exporter_service.history.limit is defined and
        blackbox_exporter_service.history.limit | string | length > 0 %}
  --history.limit {{ blackbox_exporter_service.history.limit }} \
  {% endif %}
  {# others #}
  {% if blackbox_exporter_service.timeout_offset is defined and
        blackbox_exporter_service.timeout_offset | string | length > 0 %}
  --timeout-offset {{ blackbox_exporter_service.timeout_offset }} \
  {% endif %}
  {% if blackbox_exporter_service.config.file is defined and
        blackbox_exporter_service.config.file | string | length > 0 %}
  --config.file {{ blackbox_exporter_service.config.file }} \
  {% endif %}
{% endif %}
"
{#
blackbox_exporter --help
usage: blackbox_exporter [<flags>]


Flags:
  -h, --[no-]help                Show context-sensitive help (also try --help-long and --help-man).
      #--config.file="blackbox.yml"
                                 Blackbox exporter configuration file.
      #--timeout-offset=0.5       Offset to subtract from timeout in seconds.
      --[no-]config.check        If true validate the config file and then exit.
      #--history.limit=100        The maximum amount of items to keep in the history.
      #--web.external-url=<url>   The URL under which Blackbox exporter is externally reachable (for example, if Blackbox exporter is served via a reverse proxy). Used for generating relative and absolute links back to Blackbox exporter itself. If the URL has a path portion, it will be used to prefix all HTTP endpoints served by Blackbox
                                 exporter. If omitted, relevant URL components will be derived automatically.
      #--web.route-prefix=<path>  Prefix for the internal routes of web endpoints. Defaults to path of --web.external-url.
      #--[no-]web.systemd-socket  Use systemd socket activation listeners instead of port listeners (Linux only).
      #--web.listen-address=:9115 ...
                                 Addresses on which to expose metrics and web interface. Repeatable for multiple addresses.
      #--web.config.file=""       [EXPERIMENTAL] Path to configuration file that can enable TLS or authentication. See: https://github.com/prometheus/exporter-toolkit/blob/master/docs/web-configuration.md
      #--log.level=info           Only log messages with the given severity or above. One of: [debug, info, warn, error]
      #--log.format=logfmt        Output format of log messages. One of: [logfmt, json]
      --[no-]version             Show application version.
#}
