#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% set _loglevel = "info" %}
{% set _enabled_collectors = [] %}
{% set _disabled_collectors = [] %}
{% if promcheck_collectors is defined and
      promcheck_collectors.enabled is defined %}
  {% set _enabled_collectors = promcheck_collectors.enabled %}
{% endif %}
{% if promcheck_collectors is defined and
      promcheck_collectors.disabled is defined %}
  {% set _disabled_collectors = promcheck_collectors.disabled %}
{% endif %}

GOMAXPROCS={{ ansible_processor_vcpus | default(ansible_processor_count) }}

OPTIONS="
  {# log configuration #}
  {% if promcheck_service.log.level in ["debug", "info", "warn", "error"] %}
    {% set _loglevel = promcheck_service.log.level %}
  {% endif %}
  --log.level={{ _loglevel }} \
  {% if promcheck_service.log.format is defined and
        promcheck_service.log.format in ["logfmt", "json"] %}
  --log.format={{ promcheck_service.log.format }} \
  {% endif %}
  {% for collector in _enabled_collectors %}
    {% if collector | bodsch.core.type == "dict" %}
      {% set name, options = (collector.items() | list)[0] %}
  --collector.{{ name }} \
      {% for k,v in options | dictsort %}
  --collector.{{ name }}.{{ k }}={{ v | quote }} \
      {% endfor %}
    {% else %}
  --collector.{{ collector }} \
    {% endif %}
  {% endfor %}
  {% for collector in _disabled_collectors %}
  --no-collector.{{ collector }} \
  {% endfor %}
  {% if promcheck_service.web.listen_address is defined and
        promcheck_service.web.listen_address | string | length > 0 %}
  --web.listen-address={{ promcheck_service.web.listen_address }} \
  {% endif %}
  {% if promcheck_service.web.telemetry_path is defined and
        promcheck_service.web.telemetry_path | string | length > 0 %}
  --web.telemetry-path={{ promcheck_service.web.telemetry_path }} \
  {% endif %}
  {% if promcheck_service.web.max_requests is defined and
        promcheck_service.web.max_requests | string | length > 0 %}
  --web.max-requests={{ promcheck_service.web.max_requests }} \
  {% endif %}
  {% if promcheck_service.web.disable_exporter_metrics is defined and
        promcheck_service.web.disable_exporter_metrics %}
  --web.disable-exporter-metrics \
  {% endif %}
"
