#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

GOMAXPROCS={{ ansible_processor_vcpus | default(ansible_processor_count) }}

OPTIONS="
{% if docker_sd_debug is defined and
      docker_sd_debug %}
  -debug \
{% endif %}
  -config {{ docker_sd_config_dir }}/docker-sd.yml
"
