#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

[Unit]
Description       = Prometheus json-exporter, scrapes remote JSON by JSONPath
After             = network-online.target

[Service]
Type              = simple
EnvironmentFile   = {{ json_exporter_defaults_directory }}/json_exporter

User              = {{ json_exporter_system_user }}
Group             = {{ json_exporter_system_group }}

ExecReload        = /bin/kill -HUP $MAINPID
ExecStartPre      = /usr/bin/{{ json_exporter_release.binary }} --config.check --log.level debug --config.file {{ json_exporter_service.config.file }}
ExecStart         = /usr/bin/{{ json_exporter_release.binary }} $OPTIONS

SyslogIdentifier  = json_exporter
Restart           = always

[Install]
WantedBy          = multi-user.target
