---

- name: get latest release
  delegate_to: localhost
  become: false
  run_once: true
  when:
    - trickster_version == "latest"
  block:
    - name: get latest release
      delegate_to: localhost
      become: false
      run_once: true
      bodsch.scm.github_latest:
        project: tricksterproxy
        repository: trickster
        user: "{{ lookup('env', 'GH_USER') | default(omit) }}"
        password: "{{ lookup('env', 'GH_TOKEN') | default(omit) }}"
        github_tags: "{{ trickster_scm.use_tags | default('false') }}"
        without_beta: "{{ trickster_scm.without_beta | default('false') }}"
        filter_elements: "{{ trickster_scm.version_filter | default([]) }}"
      register: _latest_release

    - name: re-define trickster_version
      ansible.builtin.set_fact:
        trickster_version: "{{ _latest_release.latest_release }}"

- name: define download information
  ansible.builtin.set_fact:
    trickster_release: "{{ trickster_defaults_release | combine(trickster_release, recursive=True) }}"

- name: define delegate instance for download handling
  ansible.builtin.set_fact:
    trickster_delegate_to: "{{ ansible_host }}"
    trickster_local_tmp_directory: "{{
        lookup('env', 'CUSTOM_LOCAL_TMP_DIRECTORY') |
        default('/var/cache/ansible/trickster', true) }}/{{ trickster_version }}"
  when:
    - trickster_direct_download

- name: create download directory
  become: false
  delegate_to: "{{ trickster_delegate_to }}"
  run_once: "{{ 'false' if trickster_direct_download else 'true' }}"
  ansible.builtin.file:
    path: "{{ trickster_local_tmp_directory }}"
    state: directory
    mode: 0750

- name: detect the downloaded trickster archive
  become: false
  delegate_to: "{{ trickster_delegate_to }}"
  run_once: "{{ 'false' if trickster_direct_download else 'true' }}"
  ansible.builtin.stat:
    path: "{{ trickster_local_tmp_directory }}/{{ trickster_release.file }}"
  register: stat_trickster_archive

- name: download
  when:
    - stat_trickster_archive.stat is defined
    - not stat_trickster_archive.stat.exists | default('false')
  block:
    # - name: checksum
    #   become: false
    #   delegate_to: localhost
    #   run_once: true
    #   block:
    #     - name: get checksum list
    #       bodsch.scm.github_checksum:
    #         project: tricksterproxy
    #         repository: trickster
    #         checksum_file: sha256sums.txt
    #         user: "{{ lookup('env', 'GH_USER') | default(omit) }}"
    #         password: "{{ lookup('env', 'GH_TOKEN') | default(omit) }}"
    #         architecture: "{{ ansible_architecture }}"
    #         system: "{{ ansible_facts.system }}"
    #         version: "v{{ trickster_version }}"
    #       register: _latest_checksum
    #
    #     - name: define checksum for {{ system_architecture }} architecture
    #       ansible.builtin.set_fact:
    #         __trickster_checksum: "sha256:{{ _latest_checksum.checksum }}"
    #       when:
    #         - _latest_checksum.rc == 0
    #         - _latest_checksum.checksum is defined
    #         - _latest_checksum.checksum | string | length > 0

    - name: download trickster binary archive
      become: false
      delegate_to: "{{ trickster_delegate_to }}"
      run_once: "{{ 'false' if trickster_direct_download else 'true' }}"
      ansible.builtin.get_url:
        url: "{{ trickster_release.download_url }}/download/v{{ trickster_version }}/{{ trickster_release.file }}"
        dest: "{{ trickster_local_tmp_directory }}/{{ trickster_release.file }}"
        # checksum: "{{ __trickster_checksum | default(omit) }}"
        mode: 0640
      register: _download_archive
      until: _download_archive is succeeded
      retries: 5
      delay: 2
      check_mode: false

  rescue:
    - name: delete download directory
      become: false
      delegate_to: "{{ trickster_delegate_to }}"
      run_once: "{{ 'false' if trickster_direct_download else 'true' }}"
      ansible.builtin.file:
        path: "{{ trickster_local_tmp_directory }}"
        state: absent

    - name: exit with fail
      ansible.builtin.fail:
        msg: A serious error occurred when downloading the archive.

- name: detect extracted binary
  become: false
  delegate_to: "{{ trickster_delegate_to }}"
  run_once: "{{ 'false' if trickster_direct_download else 'true' }}"
  ansible.builtin.stat:
    path: "{{ trickster_local_tmp_directory }}/{{ trickster_release.binary }}"
  register: stat_trickster_binary

- name: extract trickster archive
  become: false
  delegate_to: "{{ trickster_delegate_to }}"
  run_once: "{{ 'false' if trickster_direct_download else 'true' }}"
  ansible.builtin.unarchive:
    src: "{{ trickster_local_tmp_directory }}/{{ trickster_release.file }}"
    dest: "{{ trickster_local_tmp_directory }}/"
    copy: false
    extra_opts:
      - --strip-components=1
  when:
    - stat_trickster_binary.stat is defined
    - not stat_trickster_binary.stat.exists | default('false')

...
