{{ ansible_managed | comment }}

[Unit]
Description      = The Alertmanager handles alerts sent by client applications such as the Prometheus server.
Documentation    = https://prometheus.io/docs/alerting/alertmanager/
After            = network-online.target

[Service]
Type             = simple
EnvironmentFile  = {{ alertmanager_defaults_directory }}/alertmanager

User             = {{ alertmanager_system_user }}
Group            = {{ alertmanager_system_group }}

ExecStartPre     = /usr/bin/amtool check-config --verbose {{ alertmanager_config_dir }}/alertmanager.yml
ExecStart        = /usr/bin/{{ alertmanager_release.binary }} $OPTIONS
ExecReload       = /bin/kill -HUP $MAINPID

SyslogIdentifier = alertmanager
Restart          = always
TimeoutStopSec   = 20s

[Install]
WantedBy         = multi-user.target
