#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

[Unit]
Description       = Prometheus exporter for MySQL server
Documentation     = https://github.com/prometheus/mysqld_exporter
After             = network-online.target

[Service]
Type              = simple
EnvironmentFile   = {{ mysql_exporter_defaults_directory }}/mysql_exporter

User              = {{ mysql_exporter_system_user }}
Group             = {{ mysql_exporter_system_group }}

ExecReload        = /bin/kill -HUP $MAINPID
ExecStart         = /usr/bin/{{ mysql_exporter_release.binary }} $OPTIONS

SyslogIdentifier  = mysql_exporter
Restart           = always

[Install]
Alias             = mysql-exporter.service
WantedBy          = multi-user.target
