{{ ansible_managed | comment }}

[Unit]
Description       = Prometheus exporter for MySQL server
Documentation     = https://github.com/prometheus/mysqld_exporter
After             = network-online.target

[Service]
Type              = simple
User              = {{ mysql_exporter_system_user }}
Group             = {{ mysql_exporter_system_group }}

EnvironmentFile   = {{ mysql_exporter_defaults_directory }}/mysql-exporter
ExecStart         = /usr/bin/mysql-exporter $OPTIONS

SyslogIdentifier  = mysql-exporter
Restart           = always

[Install]
WantedBy          = multi-user.target
